*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forgotPass{
    height: 30em;
    background-color: bisque;
    margin-top: 20px;
}
.infoField{
    display: flex;
    gap: 20px;
    
}
.subPass{
    padding: 140px 80px;
}
.subPass label{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}