*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.main_class{
    height: 40em;
    background-color: aquamarine;
    

}
.header{
    height: 80px;
    background-color: rgb(238, 45, 45);
    margin: auto;
    top: 30px;
    position: relative;
}
.searchBar{
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
.searchBar input{
    width: 400px;
    height: 45px;
    margin-top: 20px;
    border: 0;
    border-radius: 20px;
    box-shadow: 10px  wheat;
}
