* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.input_group {
    width: 58%;
    height: 44em;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(177, 210, 238);
    border-radius: 8px;
    box-shadow: 9px  rgb(236, 204, 204);
}

.login_section {
    width: 40%;
    height: 40em;
    top: 40px;
    position: relative;
    margin: auto;
    background-color: rgb(235, 225, 225);
    border-radius: 10px;
    box-shadow: 2px 7px white;
}

.login_section h4 {
    text-align: center;
    padding-top: 45px;
    color: rgb(124, 100, 100);
    font-weight: 700;
    padding-bottom: 20px;

}

.login_section span hr {
   
    width: 270px;
    margin: auto;
    /* padding: 10px; */
}
.radioInfo{
    width: 270px;
    margin: auto;
    display: inline-flex;
    gap: 10px;
}
.radioInfo input{
    width: 18px;
    height: 18px;
    margin-top: 25px;
    margin-left: 1.5rem;
    margin-bottom: 20px; 
    
    /* left: 1rem;
    position: relative; */

}

input[type="radio"] {
    accent-color: blue; 
 }
.radioInfo label{
   padding-left: 6px;
   bottom: 4px;
   position: relative;
   font-size: 16px;
   color: rgb(124, 100, 100);
   font-weight: 600;
   
  

}

.getInfo label {
    padding: 30px 0px 15px 30px;
    font-size: 14px;
    font-weight: 400;
}


.getInfo input {
    width: 220px;
    height: 2.4em;
    box-sizing: border-box;
    border: 3px solid rgba(160, 153, 153, 0.747);
    border-width: 0px 0px 2px 0px;
    margin: 30px 0 -10px 20px;


}
.getInfo i{
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    left: 1em;
    top: 28.5px;
    position: relative;
    background-color: rgb(193, 241, 243);
    padding: 10px 10px;
     border-radius: 12px 3px 3px 12px;
    display: block;

}

::placeholder {
    padding-left: 8px;
    font-size: 14px;
    /* text-transform: lowercase; */
}
.sub_clas{
    display: flex;
}

.button_part {
    margin: 30px 0 0 35px;

}
.button_part button {
    padding: 5px 90px;
    border: 0;
    border-radius: 50px;
    background-image: linear-gradient(to right, rgb(8, 8, 212), #0885ec91);
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(22, 18, 18);
}













