*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main_class{
    height: 38em;
    top: 20px;
    position: relative;
    background-image: url(../MoneyCalculations/image/background1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parent_node{
    width: 80%;
    margin: auto;
    top: 20px;
    position: relative;
    height: 35em;
    background-color: rgba(255, 192, 203, 0.541);
}