*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main_class{
    height: 38em;
    top: 20px;
    position: relative;
    background-image: url(../MoneyCalculations/image/background1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parent_node{
    width: 80%;
    margin: auto;
    top: 20px;
    position: relative;
    height: 35em;
    background-color: rgba(255, 192, 203, 0.541);
    overflow: hidden;
}
.parent_node h1{
    font-size: 35px;
    text-align: center;
    padding-top: 25px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px rgb(94, 56, 233);
}
.ammount_type{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
/* start money transfer type  */
.deposite{
    background-color:  	#7df1b7;
    height: 100px;
    width: 200px;
    margin-top: 50px;
    border-radius: 10px;
}
.deposite h4 {
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
    font-weight: 600;
}
.deposite small{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    padding-left: 30px;
}

.withdraw{
    background-color: #f3cd5d;
    height: 100px;
    width: 200px;
    margin-top: 50px;
    border-radius: 10px;
}
.withdraw h4{
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
    font-weight: 600;

}
.withdraw small{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    padding-left: 30px;
}
.balance{
    background-color: #d280ee;
    height: 100px;
    width: 200px;
    margin-top: 50px;
    border-radius: 10px;

}
.balance h4{
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
    font-weight: 600;

}
.balance small{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    padding-left: 30px;
}

/* closed money transfer type  */

/* add money type start  */